<div>
    <table border = "0" class = "box" cellspacing="10" align = "center">
        <tr>
            <td>UserName </td>
             <td><input type="textarea"required autocomplete="off" ng-model="name" required></td>
              <td>Date From </td>
              <td><input type = 'date' id="date_from" required autocomplete="off" ng-model = "date_from"  ></td>
              <td>Date To </td>
              <td> <input type = 'date' id="date_to" required autocomplete="off" ng-model = "date_to"></p></td>
              <td><button type = "button" ng-click = "search()" > Search </button></td>
        </tr>
        
    </table>
    <div class="table-title">
    <h3>Git Comment Table  </h3>
    </div>
    <table class="table-fill" >
    <thead>
    <tr>
    <th class="text-left">Commenter ID</th>
    <th class="text-left">Comment message</th>
    <th class="text-left">Comment URL</th>
    <th class="text-left">Repository</th>

       
            <th type="button" class="button" ng-click="sortType='rating' ; sortReverse = !sortReverse">
                    Rating
                    <span ng-show="sortType =='rating'  &&  !sortReverse" class="text-center" class="fa fa-caret-down"> </span> 
                    <span ng-show="sortType == 'rating' && sortReverse"  class="text-center" class="fa fa-caret-up"></span>
            </th>


    </tr>
    </thead>

        <tbody class="table-hover">
        <tr ng-repeat="emp in employees | orderBy:sortType:sortReverse">
            <td class="text-left">{{emp.commented_by.username}}</td>
            <td class="text-left">{{emp.comment_message}}</td>
            <td class="text-left"> <a ng-href="{{emp.comment_url}}">Click Here</a></td>
            <td class="text-left"> {{emp.repository}}</td>
            <td class="text-left">{{emp.rating}}</td>
        </tr>
        </tbody>

            

    </table>
    <ul class="pagenation_buttons" >
            
            <li ng-repeat="n in page_array track by $index">
                <button type = "button"  align="center" ng-click = "go_to_next_page($index)"  ><span>{{$index + 1}}</span> </button>
               <!-- <button type = "button" align="center" ng-click = "go_to_next_page()" > next </button> -->
            <li>
           
        
    </ul>
</div>